# build folders
**/x64
**/Debug
**/Release
**/dll
**/ipch
**/packages
**/bin
**/obj

# VS files
*.opensdf
*.suo
*.log
*.sdf
*.user
*.dll
*.pdb
*.so
*.pubxml

# custom ignore
settings.json
VWModel